<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <appSettings>
    <add key="ida:AudienceUri" value="https://azureadmvcexample.azurewebsites.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ida:ClientId" value="e4a511a6-f9a2-408c-a4a1-c687bc93e297" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ida:Password" value="pStunVoaVWG9BcWhpbivLKta5YJmeQFUYwK9TzqEWl0=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <clear />
        <rule name="Redirect to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.identityModel>
    <identityConfiguration>
      <audienceUris>
        <add value="https://azureadmvcexample.azurewebsites.net" xdt:Transform="Replace" />
      </audienceUris>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="true" xdt:Transform="SetAttributes" />
      <wsFederation realm="https://azureadmvcexample.azurewebsites.net" requireHttps="true" xdt:Transform="SetAttributes" />
    </federationConfiguration>
  </system.identityModel.services>
</configuration>
