@{
    ViewBag.Title = "Azure AD MVC Example";
}

<div class="jumbotron">
    <h1>Azure AD MVC Example</h1>
    <p class="lead">Example of how to set up an ASP.NET MVC 5 website with Azure AD authentication.</p>
    <p><a href="https://github.com/robdmoore/AzureAdMvcExample" class="btn btn-primary btn-lg" target="_blank">See the code &raquo;</a></p>
</div>
